<div th:fragment="list" th:remove="tag">

    <div th:replace="fragments/pagination :: pagination"></div>

    <div class="card-columns mt-2" id="message-list">

        <div th:each="message : ${page.content}" class="card" th:data-id="${message.id}">
            <img class="card-img-top"
                 th:if="${message.filename}"
                 th:src="@{'/img/' + ${message.filename}}"
                 th:alt="${message.filename}" />
            <div class="card-body">
                <h5 th:text="'#' + ${message.tag}" class="card-title"></h5>
                <p th:text="${message.text}" class="card-text"></p>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <a class="col align-self-center"
                       th:text="${message.authorName}"
                       th:href="@{|/user-messages/${message.author.id}|}"></a>

                    <a class="col align-self-center"
                       th:href="@{|/messages/${message.id}/like|}"
                       th:if="${!message.meLiked}">
                        <i class="far fa-heart"></i>
                        <span th:text="${message.likes}"></span>
                    </a>

                    <a class="col align-self-center"
                       th:if="${message.meLiked}"
                       th:href="@{|/messages/${message.id}/like|}">
                        <i class="fas fa-heart"></i>
                        <span th:text="${message.likes}"></span>
                    </a>

                    <a class="col btn btn-primary"
                       th:if="${message.author.id} == ${user.id}"
                       th:href="@{|/user-messages/${message.author.id}?message=${message.id}|}">Edit</a>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/pagination :: pagination"></div>

</div>