<div th:fragment="list" th:remove="tag">
    <div class="card-columns mt-2" id="message-list">

        <div th:each="message : ${messages}" class="card" th:data-id="${message.id}">
            <img class="card-img-top"
                 th:if="${message.filename}"
                 th:src="@{'/img/' + ${message.filename}}"
                 th:alt="${message.filename}" />
            <div class="card-body">
                <h5 th:text="'#' + ${message.tag}" class="card-title"></h5>
                <p th:text="${message.text}" class="card-text"></p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <a th:text="${message.authorName}"
                   th:href="@{|/user-messages/${message.author.id}|}"></a>
                <a th:if="${message.author.id} == ${user.id}"
                   th:href="@{|/user-messages/${message.author.id}?message=${message.id}|}"
                    class="btn btn-outline-primary">Edit</a>
            </div>
        </div>

    </div>
</div>