<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/header :: header"></head>

<body>

<nav th:replace="fragments/navbar :: mainbar" ></nav>

<div class="container mt-5 mb-2">

    <div sec:authorize="isAnonymous()">

        <h5>Hello,  guest!</h5>
        <div>This is a simple clone off Twitter <a th:href="@{/login}" class="btn btn-secondary">Login</a></div>

    </div>

    <div sec:authorize="isAuthenticated()">

        <h1 th:inline="text">Hello, [[${user.username}]]!</h1>

    </div>

</div>

<div th:replace="fragments/assets :: scripts"></div>

</body>

</html>