<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: header"></head>

<body>

    <nav>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </nav>

    <div>
        <form th:action="@{/add}" method="post">
            <input type="text" name="text" placeholder="Enter message">
            <input type="text" name="tag" placeholder="Tag">
            <button type="submit">Add</button>
        </form>
        <form th:action="@{/main}" method="get">
            <input type="text" name="filter" placeholder="I Find tag..." th:value="${filter}">
            <button type="submit">Find</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TEXT</th>
                <th>TAG</th>
                <th>AUTHOR</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="message : ${messages}">
                <td th:text="${message.id}"></td>
                <td th:text="${message.text}"></td>
                <td th:text="${message.tag}"></td>
                <td th:text="${message.authorName}"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>