<!DOCTYPE HTML>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body>

<nav th:replace="fragments/navbar :: mainbar" ></nav>

<div class="container mt-5 mb-2">

    <form class="form-inline" th:action="@{/messages}" method="get">
        <input class="form-control form-control-lg mb-2 mr-2" type="text" name="filter" placeholder="I Find tag..." th:value="${filter}">
        <button class="btn btn-lg btn-outline-info mb-2" type="submit">Find</button>
    </form>

    <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Add new message
    </a>
    <div th:classappend="${textError != null}?show"
         class="collapse mt-3" id="collapseExample">

        <form th:action="@{/add}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input th:classappend="${textError != null}?is-invalid"
                       class="form-control" type="text" name="text" placeholder="Enter message">
                <div th:if="${textError}"
                     th:text="${textError}"
                     class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <input th:value="${message != null}?${message.tag}"
                       th:classappend="${tagError != null}?is-invalid"
                       class="form-control" type="text" name="tag" placeholder="Tag">
                <div th:if="${tagError}"
                     th:text="${tagError}"
                     class="invalid-feedback"></div>
            </div>
            <div class="form-group custom-file">
                <input class="form-control custom-file-input" type="file" name="file" id="customFile" lang="ru">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <div class="form-group mt-3">
                <button class="btn btn-primary" type="submit">Send</button>
            </div>
        </form>

    </div>

    <div class="card-columns mt-2">

        <div th:each="message : ${messages}" class="card">
            <img class="card-img-top" th:if="${message.filename}" th:src="@{'/img/' + ${message.filename}}" th:alt="${message.filename}">
            <div class="card-body">
                <h5 th:text="${message.tag}" class="card-title"></h5>
                <p th:text="${message.text}" class="card-text"></p>
            </div>
            <div th:text="${message.authorName}" class="card-footer bg-transparent border-success"></div>
        </div>

    </div>

</div>

<div th:replace="fragments/assets :: scripts"></div>
<script type="text/javascript">
    $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
    });
</script>

</body>

</html>