<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body>

<nav th:replace="fragments/navbar :: mainbar" ></nav>

<div class="container mt-5 mt-2">

    <h3>Registration</h3>

    <form th:action="@{/registration}" method="post">

        <div th:insert="fragments/login :: login" th:remove="tag"></div>

    </form>

</div>

<div th:replace="fragments/assets :: scripts"></div>

</body>

</html>