<!DOCTYPE HTML>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body>

<nav th:replace="fragments/navbar :: mainbar" ></nav>

<div class="container mt-5 mb-2">

    <h3 th:text="${userChannel.username}"></h3>

    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Subscriptions</div>
                    <h3 class="card-text">
                        <a th:text="${subscriptionsCount}"
                           th:href="@{/user/subscriptions/{id}/list(id=${userChannel.id})}">
                        </a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Subscribers</div>
                    <h3 class="card-text">
                        <a th:text="${subscribersCount}"
                           th:href="@{/user/subscribers/{id}/list(id=${userChannel.id})}"></a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div th:unless="${isCurrentUser}"
         th:remove="tag">
        <a th:if="${isSubscriber}"
           th:href="@{/user/unsubscribe/{id}(id=${userChannel.id})}"
           class="btn btn-warning">
            Unsubscribe
        </a>
        <a th:unless="${isSubscriber}"
           th:href="@{/user/subscribe/{id}(id=${userChannel.id})}"
           class="btn btn-info">
            Subscribe
        </a>
    </div>

    <a th:if="${isCurrentUser}"
       class="btn btn-outline-secondary" data-toggle="collapse"
       href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Edit message
    </a>
    <div th:if="${isCurrentUser}"
         th:classappend="${(textError != null) or (param.message != null)}?show"
         class="collapse mt-3" id="collapseExample">

        <form th:action="@{/user-messages/{id}(id=${user.id})}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input th:value="${message?.text}"
                       th:classappend="${textError != null}?is-invalid"
                       class="form-control" type="text" name="text" placeholder="Enter message">
                <div th:if="${textError}"
                     th:text="${textError}"
                     class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <input th:value="${message?.tag}"
                       th:classappend="${tagError != null}?is-invalid"
                       class="form-control" type="text" name="tag" placeholder="Tag">
                <div th:if="${tagError}"
                     th:text="${tagError}"
                     class="invalid-feedback"></div>
            </div>
            <div class="form-group custom-file">
                <input class="form-control custom-file-input" type="file" name="file" id="customFile" lang="ru">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <input th:value="${message?.id}" type="hidden" name="id" id="id" lang="ru">
            <div class="form-group mt-3">
                <button class="btn btn-success" type="submit">Save message</button>
            </div>
        </form>

    </div>

    <div th:replace="fragments/messageList :: list"></div>

</div>

<div th:replace="fragments/assets :: scripts"></div>
<script type="text/javascript">
    $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
    });
</script>

</body>

</html>